<%= form_for(boots_product) do |f| %>
  <% if boots_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boots_product.errors.count, "error") %> prohibited this boots_product from being saved:</h2>

      <ul>
      <% boots_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
