<p id="notice"><%= notice %></p>

<h1>Boots 产品列表</h1>

<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd">产品列表</div>
  <div class="weui-panel__bd">
    <% @boots_products.each do |boots_product| %>
    <a href="<%= url_for boots_product %>" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media__hd">
        <img class="weui-media__thumb" src="<%= boots_product.image_url %>" alt="">
      </div>
      <div class="weui-media__bd">
        <h4 class="weui-media__title"><%= boots_product.name %></h4>
        <p class="weui-media__desc">价格：￥<%= '%.2f' % ((boots_product.fixed_price || boots_product.price) * get_rate)
        %></p>
      </div>
    </a>
    <% end %>
  </div>
  <!--<div class="weui-panel__ft">-->
    <!--<a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">-->
      <!--<div class="weui-cell__bd">查看更多</div>-->
      <!--<span class="weui-cell__ft"></span>-->
    <!--</a>-->
  <!--</div>-->
</div>
