<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <title>Michael and Phoebe's Store</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/weui/1.0.0/style/weui.css" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
